@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 288.1 83.3% 54.3%;
    --primary-foreground: 0 0% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 210 40% 9.8%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 210 40% 45.1%;
    --accent: 184.4 83.1% 56.3%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 184.4 83.1% 56.3%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222 10% 15.1%;
    --foreground: 0 0% 98%;
    --card: 222 10% 18%;
    --card-foreground: 0 0% 98%;
    --popover: 222 10% 15.1%;
    --popover-foreground: 0 0% 98%;
    --primary: 288.1 83.3% 54.3%;
    --primary-foreground: 0 0% 98%;
    --secondary: 222 10% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 222 10% 25%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 184.4 83.1% 56.3%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 10% 25%;
    --input: 222 10% 25%;
    --ring: 184.4 83.1% 56.3%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .bg-grid {
    background-image: linear-gradient(hsl(var(--accent) / 0.1) 1px, transparent 1px), linear-gradient(to right, hsl(var(--accent) / 0.1) 1px, transparent 1px);
    background-size: 2rem 2rem;
  }
}